body {
    padding-top: 70px;
}

section{
    padding: 30px;
}


/*  Sign Up and Forms CSS*/

body#login {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/*  Sign Up and Forms CSS End    =====================*/

/*  Navbar */

.nav{
    margin-top: 18px;
}

.navbar{
    min-height: 70px;
    margin-bottom: 0 !important;
}

.navbar-nav{
    margin: 0;
    padding: 0;
}

.navbar-brand{
    padding: 12px;
    border: 3px solid #ccc;
    margin: 10px;
    font-size: 24px;
    background: #0383c0 !important;
    color: #fff !important;
}

.navbar-nav li{
    padding-top: 5px;
    padding-bottom: 5px;
}

.navbar-nav > li > a{
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
    border-right: 1px solid #ccc;
    font-family: 'Oswald', sans-serif;
}

.navbar-nav a:hover,.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
    background: #0383c0 !important;
    color: #fff !important;
}

/*  Navbar End  ===================================*/

h1, h2, h3{
    font-family: 'Oswald', sans-serif;
}

/*  jumbotron  */

.jumbotron{
    margin: 0 !important;
    min-height: 450px;
    background-color: azure;
}

/*  jumbotron End   ===============================*/

/*  service  */

.service{
    background: #f4f4f4;
}

.fa-color{
    color: #0383c0;
}

/*  service End  ============================*/

/* Media Queries */

@media(max-width:990px){
    .navbar-header{
        float: none;
    }
    
    .navbar-left, .navbar-right{
        float: none !important;
    }
    
    .navbar-toggle{
        display: block;
    }
    
    .navbar-collapse{
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    
    .navbar-fixed-top{
        top: 0;
        border-width: 0 0 1px;
        
    }
    
    .navbar-collapse.collapse{
        display: none !important;
    }
    
    .navbar-nav{
        float: none;
        margin-top: 7.5px;
    }
    
    .navbar-nav >li{
        float: none;
    }
    
    .navbar-nav > li > a{
        padding-top: 10px;
        padding-bottom: 10px;
        border-right: none;
    }
    
    .collapse.in{
        display: block !important;
    }
    
}

@media(max-width:768px){
    .jumbotron{
        min-height: 300px;
    }
    
    .jumbotron img{
        display: none;
    }
}

/*Media Queries ======================================= Ends*/